<div class="modal fade" id="userAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Kullanıcı Kaydet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-3 row">
                            <label class="col-lg-4 col-form-label">Ad</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="Adınızı giriniz" id="txtName">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-lg-4 col-form-label">Soyad</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="Soyadınızı giriniz" id="txtSurname">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-lg-4 col-form-label">Mail</label>
                            <div class="col-lg-6">
                                <input type="email" class="form-control" placeholder="Mail adresinizi giriniz" id="txtMail">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-lg-4 col-form-label">Şifre</label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control" placeholder="Şifre giriniz" id="txtPassword">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-lg-4 col-form-label">Şifre Tekrar</label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control" placeholder="Şifrenizi tekrar giriniz" id="txtPasswordAgain">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" id="btnSave">Kaydet</button>
            </div>
        </div>
    </div>
</div>





