@using ProjectTracking.DataAccess.Entites.Classes.DtoClasses.LoginDto;
@model LoginDto;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <title>W3CRM Customer Relationship Management</title>

    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="vh-100">
    <div class="page-wraper">

        <div class="browse-job login-style3">
            <div class="bg-img-fix overflow-hidden" style="background:#fff url(/images/background/bg6.jpg); height: 100vh;">
                <div class="row gx-0">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 vh-100 bg-white ">
                        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 653px;" tabindex="0">
                            <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                                <div class="login-form style-2">


                                    <div class="card-body">
                                        <div class="logo-header">
                                            <a href="index.html" class="logo"><img src="/images/logo/logo-full.png" alt="" class="width-230 light-logo"></a>
                                            <a href="index.html" class="logo"><img src="/images/logo/logofull-white.png" alt="" class="width-230 dark-logo"></a>
                                        </div>

                                        <nav>
                                            <div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">

                                                <div class="tab-content w-100" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
                                                        <form asp-action="Login" class=" dz-form pb-3">
                                                            <h3 class="form-title m-t0">Kişisel Bilgi</h3>
                                                            <div class="dz-separator-outer m-b5">
                                                                <div class="dz-separator bg-primary style-liner"></div>
                                                            </div>
                                                            <p>E-posta adresinizi ve şifrenizi giriniz. </p>
                                                            <div class="form-group mb-3">
                                                                <label asp-for="Mail" class="form-label"></label>
                                                                <input type="email" class="form-control" asp-for="Mail" value="mertersisko@gmail.com" />
                                                                <span asp-validation-for="Mail" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <label asp-for="Password" class="form-label"></label>
                                                                <input type="password" class="form-control" asp-for="Password" value="123456">
                                                                <span asp-validation-for="Password" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group text-left mb-5 forget-main">
                                                                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                                                                <span class="form-check d-inline-block">
                                                                    <input type="checkbox" class="form-check-input" id="check1" name="example1">
                                                                    <label class="form-check-label" for="check1">Beni Hatırla</label>
                                                                </span>
                                                                <button class="nav-link m-auto btn tp-btn-light btn-primary forget-tab " id="nav-forget-tab" data-bs-toggle="tab" data-bs-target="#nav-forget" type="button" role="tab" aria-controls="nav-forget" aria-selected="false">Parolamı Unuttuum</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-forget" role="tabpanel" aria-labelledby="nav-forget-tab">
                                                        <form class="dz-form">
                                                            <h3 class="form-title m-t0">Parolamı Unuttum</h3>
                                                            <div class="dz-separator-outer m-b5">
                                                                <div class="dz-separator bg-primary style-liner"></div>
                                                            </div>
                                                            <p>Parolanızı sıfırlamak için aşağıya e-posta adresinizi girin. </p>
                                                            <div class="form-group mb-4">
                                                                <input name="dzName" required="" class="form-control" placeholder="Email Address" type="text">
                                                            </div>
                                                            <div class="form-group clearfix text-left">
                                                                <button class=" active btn btn-primary" id="nav-personal-tab" data-bs-toggle="tab" data-bs-target="#nav-personal" type="button" role="tab" aria-controls="nav-personal" aria-selected="true">Geri Dön</button>
                                                                <button class="btn btn-primary float-end">Gönder</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                    @if (ViewBag.Result != null)
                                    {
                                        <div class="alert alert-dismissible bg-danger d-flex flex-column flex-sm-row p-5 mb-10">
                                            <span class="svg-icon svg-icon-2hx svg-icon-white fas fa-hand-paper-o me-4 mb-5 mb-sm-0"></span>
                                            <div class="d-flex flex-column pe-0 pe-sm-10">
                                                <h4 class="fw-bold light">Uyarı</h4>
                                                <span class="light">@ViewBag.Result</span>
                                            </div>
                                        </div>
                                    }
                                    <div class="card-footer">
                                        <div class=" bottom-footer clearfix m-t10 m-b20 row text-center">
                                            <div class="col-lg-12 text-center">
                                                <span>
                                                    © Copyright by <span class="heart"></span>
                                                    <a href="#">M.E</a> All rights reserved.
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
                                <div class="mCSB_draggerContainer">
                                    <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 0px; display: block; height: 652px; max-height: 643px; top: 0px;">
                                        <div class="mCSB_dragger_bar" style="line-height: 0px;"></div><div class="mCSB_draggerRail"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/global/global.min.js"></script>
    <script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/deznav-init.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/demo.js"></script>
    <script src="/js/styleSwitcher.js"></script>
</body>
</html>