<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="robots" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
<meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
<meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
<meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
<meta name="format-detection" content="telephone=no">

<title>W3CRM Customer Relationship Management</title>

<link rel="shortcut icon" type="image/png" href="images/favicon.png">
<link href="../css2?family=Material+Icons" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link href="~/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css" rel="stylesheet">
