@using ProjectTracking.DataAccess.Entites.Classes.DbClasses.ProjectNoteClasses;
@model ProjectNote


<div class="modal fade" id="view-project-note-@Model.ProjectId" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@Model.ProjectId Not Listesi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <input type="hidden" id="@Model.ProjectId" />
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Açıklama</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @foreach (var note in Model as ICollection<ProjectNote>)
                                    {
                                        <tr>
                                            <td>@note.ProjectNoteTitle</td>
                                            <td>@note.ProjectNoteDescription</td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="noteAddBtn">Kaydet</button>
            </div>
        </div>
    </div>
</div>
