@using ProjectTracking.DataAccess.Entites.Classes.DbClasses.MissionClasses;
@model Mission

@{
    ViewData["Title"] = "Add";
}
<div class="row">
    <form asp-action="Add" asp-controller="Mission">
        <div class="col">
            <div class="col-xl-6 mb-3">
                <label asp-for="StartDate" for="exampleFormControlInputthree" class="form-label"></label>
                <input asp-for="StartDate" type="date" class="form-control" id="exampleFormControlInputthree">
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="col-xl-6 mb-3">
                <label asp-for="EndDate" for="exampleFormControlInputfour" class="form-label"></label>
                <input asp-for="EndDate" type="date" class="form-control" id="exampleFormControlInputfour">
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="col-xl-6 mb-3">
                <label asp-for="Status" class="form-label"></label>
                <select class="form-control" asp-for="Status" asp-items="@ViewBag.Status">
                    <option value="0" disable selected>Lütfen Durum Seçiniz</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="col-xl-6 mb-3">
                <label asp-for="Status" class="form-label"></label>
                <select class="form-control" asp-for="Status" asp-items="@ViewBag.Status">
                    <option value="0" disable selected>Lütfen Durum Seçiniz</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="col-xl-6 mb-3">
                <label asp-for="UserId" class="form-label"></label>
                <select class="form-control" asp-for="UserId" asp-items="@ViewBag.Users">
                    <option value="0" disable selected>Lütfen Kullanıcı Seçiniz</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="col-xl-12 mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary me-1">Kaydet</button>
            <a asp-controller="Mission" asp-action="Index" class="btn btn-danger light ms-1">İptal</a>
        </div>
    </form>
</div>

