<div class="modal fade" id="addProjectNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Proje Oluştur</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <input type="number" readonly id="ProjectId" class="form-control" />
                        <div class="mb-3">
                            <label class="col-form-label">Not Başlığı</label>
                            <input type="text" class="form-control" id="noteTitle">
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Not Açıklaması</label>
                            <textarea class="form-control" id="noteDesc"></textarea>
                        </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary" id="noteAddBtn">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>





