@{
    ViewData["Title"] = "Home Page";
}

   
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Open modal for </button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label  class="col-form-label">Proje Adı</label>
                        <input type="text" class="form-control" id="ProjectName">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Proje Açıklaması</label>
                        <textarea class="form-control" id="ProjectDesc"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnKaydet">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#btnKaydet").click(function () {
            let add = {
                ProjectName: $("#ProjectName").val(),
                ProjectDescription: $("#ProjectDesc").val(),
            };
            $.ajax({
                type: "post",
                url: ("/Project/Add"),
                data: add,
                success: function (func) {
                    alert("Ekleme başarılı");
                }
            });
        });
    </script>

	}